# Atividade 9

In [9]:
#import section 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [2]:
# path to dataset
recommended = '/home/marcio/projetos/faculdade/4periodo/metodosQuantitativosParaComputacao/notebooks/atividade9/datasets/recommended_trades_1.csv'
dataFrame = pd.read_csv(recommended)

In [3]:
# df data description
dataFrame.describe()

       Market Capitalization  Number of Share to Buy
count           5.050000e+02              505.000000
mean            8.132629e+10               40.200000
std             2.121852e+11               47.009472
min             0.000000e+00                0.000000
25%             1.772930e+10               13.000000
50%             3.098777e+10               24.000000
75%             6.556469e+10               48.000000
max             2.343545e+12              410.000000

In [4]:
# info about df
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ticker                  505 non-null    object
 1   Stock Price             505 non-null    object
 2   Market Capitalization   505 non-null    float64
 3   Number of Share to Buy  505 non-null    float64
dtypes: float64(2), object(2)
memory usage: 15.9+ KB

In [5]:
# extract decimal value from str column
convertToDec = lambda n: float(dataFrame['Stock Price'][n][1:])

In [6]:
dataFrame

    Ticker Stock Price  Market Capitalization  Number of Share to Buy
0        A     $155.08           4.705865e+10                    18.0
1      AAL      $22.02           1.369795e+10                   130.0
2      AAP     $213.33           1.372993e+10                    13.0
3     AAPL     $141.25           2.343545e+12                    20.0
4     ABBV     $115.40           2.054323e+11                    24.0
..     ...         ...                    ...                     ...
500    YUM     $117.58           3.568693e+10                    24.0
501    ZBH     $169.75           3.566319e+10                    16.0
502   ZBRA     $539.07           2.869328e+10                     5.0
503   ZION      $55.40           8.927102e+09                    52.0
504    ZTS     $196.27           9.231470e+10                    14.0

[505 rows x 4 columns]

o nosso dataframe possui 505 elementos com 3 atributos. Os cálculos abaixo serão realizados para a coluna `Number of Share to Buy`

Amplitude total $$A = MaxValue - MinValue \rightarrow 410.00 - 0.00 = 410.00$$

Quantidade de classes = $$i=1+3,3*log(n) \rightarrow 1+3,3*log(505) = $$

In [20]:
amplitudeTotal = lambda maxValue,minValue: maxValue-minValue
quantidadeDeClasses = lambda q: math.ceil(1+(3.3*math.log(q,10)))
amplitudeParaCadaClasse = lambda x,y: math.ceil(x/y)

In [30]:
i = quantidadeDeClasses(505)
A = amplitudeTotal(410,0)
h = amplitudeParaCadaClasse(A,i)
dataFrameOrdenado = sorted(dataFrame['Number of Share to Buy'])

In [31]:
print(f'Amplitude total: {A}\nQuantidade de Classes: {i}\nAmplitude para cada Classe: {h}')

Amplitude total: 410
Quantidade de Classes: 10
Amplitude para cada Classe: 41

In [61]:
m = []
aux = 0
cont = 0
for i in range(1,math.ceil(505/h)+1):
    cont = 0
    for dataVal in dataFrameOrdenado:
        if ((dataVal > aux) and (dataVal < (i*h))):
            cont+=1
        m.append(dataFrameOrdenado[aux:(i*h)])
    aux+=h

In [73]:
i = 1
aux = 0
m = []